@import "../main";

.splash-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.splash {
  width: 100%;
  max-width: 34rem;
  margin: 0 auto;

  h2,
  h3 {
    position: relative;
    padding-top: 10px;

    .anchor {
      top: 0.5rem;
      text-decoration: none;
      position: absolute;
      left: -1rem;
      color: $grey;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .anchor:hover {
      color: $darkGrey;
    }
  }

  blockquote {
    width: 95%;
    margin: 0 auto;
    font-size: 1rem;

    a {
      color: $darkGrey;
      text-decoration: underline;
    }
  }

  img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
}


.fancy {
  color: $primary;
}

.handle {
  display: inline-block;
  margin-top: 0.275em;
  color: $grey;
  letter-spacing: 0.5px;
}

.writing {
  text-decoration: none;
  color: $primary;
}

/* overrides */
.post__content {
  ul {
    list-style: none;

    li {
      margin-bottom: 0.5rem;

      &::before {
        content: "-";
        color: $darkGrey;
        position: absolute;
        margin-left: -15px;
      }
    }
  }
}

main {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.social-icons {
  justify-content: flex-start;
  padding-top: 1rem;
  margin-left: -0.8rem;  // offset to negate icon's padding to align with text above
}
